div > .description-name {
    font-family: 'josefin', serif;
    font-size: 25px;
    word-break:break-word;
    border:black;
}

#posttitle{
    font-family: 'Dancing Script', cursive;
    font-size: 55px;
    text-align: center;
}


#detaildelete, #detailupdate {
        width: 170px;
        font-family: Georgia, 'Times New Roman', Times, serif;
}