.postcard {
    display: grid;
    font-size: 23px;
    width: 100%;
    height: 500px;
    
}


#nametag > #postname{
    /* color:rgba(38, 0, 255, 0.37); */
    font-size: 4vmin;
    text-decoration: underline;

}
