#postpage {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 2fr 1fr;
  gap: 30px 20px;
  
}


.PostPage > #postpage {
  font-family: "Josefin Slab", Arial, serif;
  width: 100%;
  height: 70px;
  margin-top: 50px ;
}


.PostPage section a{
  text-decoration: none;
  padding: 5px;
  margin: 5px;
  background-color: black;
  color: white;
  border-radius: 20px;
 
}