

.PostPage section  {
  display: grid;
  margin-top: 50px ;
  justify-content: center;
  width: 100%;
}

.PostPage section a{
  text-decoration: none;
  padding: 5px;
  margin: 5px;
  background-color: black;
  color: white;
  border-radius: 5px;
}

#img {
  background-image: url(https://i.imgur.com/kC9oT4A.png);
}